.countryList {
  margin-bottom: auto;
  height: 40rem;
  padding: 0 2rem;
  overflow-y: scroll;
}

.countryList::-webkit-scrollbar {
  width: 10px;
}

.countryList::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.countryList::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--color-gray-light);
}

.listItem {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-gray-light);
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  width: 30rem;
  transition: all 0.3s;
  cursor: pointer;
}

.listItem:hover {
  background-color: #9a9da0;
}
